{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Liux菜鸟博客</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'blog/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="{% static 'blog/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'blog/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="{% url 'blog:index' %}">首页</a>

            <!--<a class="blog-nav-item" href="#">关于</a>-->
        </nav>
    </div>
</div>

<div class="container">

    {% block top %}
    {% endblock top %}

    <div class="row">

        <div class="col-sm-8 blog-main">

            {% block main %}
            {% endblock main %}



            {% block footer %}
            {% endblock footer %}
            <!-- 页数导航-->
            <!--<nav>-->
            <!--<ul class="pager">-->
            <!--<li><a href="#">上一页</a></li>-->
            <!--<li><a href="#">下一页</a></li>-->
            <!--</ul>-->
            <!--</nav>-->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">


            {% block box %}
            {% endblock box %}

            <div class="sidebar-module sidebar-module-inset">
                <h4>关于博客</h4>
                <p>后台是Django，前端框架是Bootstrap，服务器是阿里云，使用 Nginx 和 Gunicorn 部署 </p>
            </div>

            <div class="sidebar-module">
                <h4>最新文章</h4>
                  {% get_recent_posts as post_list %}
                <ol class="list-unstyled">
                    {% for post in post_list %}
                    <li><a href="{{post.get_absolute_url}}">{{post.title}}</a></li>
                    {% empty %}
                    暂无文章
                    {% endfor %}
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>归档</h4>
                  {% archives as date_list %}
                <ol class="list-unstyled">
                    {% for date in date_list %}
                    <li><a href="{% url 'blog:archives' date.year date.month %}">{{date.year}}年{{date.month}}月</a></li>
                    {% empty %}
                    暂无归档
                    {% endfor %}
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>分类</h4>
                {% get_category as category_list %}
                <ol class="list-unstyled">
                    {% for category in category_list %}
                    <li><a href="{% url 'blog:get_category' category.pk %}">{{category.name}}</a></li>
                    {% empty %}
                    暂无分类
                    {% endfor %}
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p>模版 <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">回到顶部</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'blog/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>
